<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  
<th:block th:replace="fragments/config :: configFragment"></th:block> 
<body id=page-top>
 <div id="wrapper">
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header :: headerFragment"></th:block>
    <!-- nav fragment 사용 -->
    <th:block th:replace="fragments/navigation :: navFragment"></th:block>
    <!-- content fragment 사용 -->
    <th:block  layout:fragment="content"></th:block>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </div>
</body>
</html>
