<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<th:block layout:fragment="content">
					<!-- Main -->
					<main class="py-6 bg-surface-secondary">
						<!-- Container -->
						<div class="container-fluid">
							<div class="vstack gap-6">
									<h1 class="h2 ls-tight" style="margin-top: 15px;">
										상품 관리 <a style="float: right;" href="#modalExport"
											class="btn btn-sm btn-neutral border-base"
											data-bs-toggle="modal"> <span class="pe-2"> <i
												class="bi bi-people-fill"></i>
										</span> <span>삭제</span>
										</a><a style="float: right; margin-right:10px;" href="#modalExport"
											class="btn btn-sm btn-neutral border-base"
											data-bs-toggle="modal"> <span class="pe-2"> <i
												class="bi bi-people-fill"></i>
										</span> <span>등록</span>
										</a>
									</h1>
								<!-- Filters -->

								<!-- Items -->
								<div class="row g-6">




									<div class="card">
										<div class="card-header border-bottom">
										</div>
										<div class="table-responsive">
											<table class="table table-hover table-nowrap">
												<thead class="table-light">
													<tr>
														<th scope="col">No</th>
														<th scope="col">구분</th>
														<th scope="col">속성</th>
														<th scope="col">이용권명</th>
														<th scope="col">이용기간</th>
														<th scope="col">판매가</th>
														<th scope="col">이용횟수</th>
														<th scope="col">일일 이용제한</th>
														<th scope="col">주간 이용제한</th>
														<th scope="col">예약 취소권</th>
														<th scope="col">중지권</th>
														<th scope="col">최대 예약권</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>개인레슨</td>
														<td>패키지</td>
														<td>3개월 종일 입문자</td>
														<td>3개월</td>
														<td>1,090,000</td>
														<td>24회</td>
														<td>3회</td>
														<td>무제한</td>
														<td>무제한</td>
														<td>1회 30일</td>
														<td>무제한</td>
													</tr>
													<tr>
														<td>1</td>
														<td>개인레슨</td>
														<td>패키지</td>
														<td>3개월 종일 입문자</td>
														<td>3개월</td>
														<td>1,090,000</td>
														<td>24회</td>
														<td>3회</td>
														<td>무제한</td>
														<td>무제한</td>
														<td>1회 30일</td>
														<td>무제한</td>
													</tr>
													<tr>
														<td>1</td>
														<td>개인레슨</td>
														<td>패키지</td>
														<td>3개월 종일 입문자</td>
														<td>3개월</td>
														<td>1,090,000</td>
														<td>24회</td>
														<td>3회</td>
														<td>무제한</td>
														<td>무제한</td>
														<td>1회 30일</td>
														<td>무제한</td>
													</tr>
													<tr>
														<td>1</td>
														<td>개인레슨</td>
														<td>패키지</td>
														<td>3개월 종일 입문자</td>
														<td>3개월</td>
														<td>1,090,000</td>
														<td>24회</td>
														<td>3회</td>
														<td>무제한</td>
														<td>무제한</td>
														<td>1회 30일</td>
														<td>무제한</td>
													</tr>
													<tr>
														<td>1</td>
														<td>개인레슨</td>
														<td>패키지</td>
														<td>3개월 종일 입문자</td>
														<td>3개월</td>
														<td>1,090,000</td>
														<td>24회</td>
														<td>3회</td>
														<td>무제한</td>
														<td>무제한</td>
														<td>1회 30일</td>
														<td>무제한</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							</div>
					</main>
</th:block>
</html>